.red{
    background-color: tomato;
    border: 1px;
    padding: 2px;
    margin: auto;
}
.yellow{
    color: blue;
    font-size: 18px;
 text-align:left ;
}

#green{ color: aqua;
   
   
    padding: 2px;
    margin: 3px;
    border: 2px solid red;
    font-size: larger;
   text-decoration-color: blueviolet;
   flex: content;
   font-style: initial;
}
.blue{
    font-weight: 50px;
    text-align: inherit;
}
p{
    color: chartreuse;
}
.tui{
    size: 20px;
}